<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Online Movie Tickets</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://pbs.twimg.com/profile_images/918124903349436416/AdnJ-yq1_400x400.jpg" alt="" width="80"
                 height="60" class="d-inline-block align-text-top">
            Online Movie Tickets
        </a>
        <div class="dropdown ms-3">
            <button class="btn dropdown-toggle" id="bd-versions" data-bs-toggle="dropdown" aria-expanded="false"
                    data-bs-display="static">
                <span class="d-none d-lg-inline text-light"><span th:text="${customer.getName}"></span></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-versions">
                <li><a class="dropdown-item" href="booking-history">My Booking</a></li>
                <li><a class="dropdown-item" href="logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="bg-light">
    <div class="p-4">
        <h4>Recommended Movies</h4>
        <div class="row">
            <div class="col-3" th:each="movie : ${movie}">
                <div class="card mt-4 shadow" style="width: 18rem;">
                    <a th:href="@{/movie/{id}(id=${movie.getId})}">
                        <img src="https://p7.hiclipart.com/preview/2/684/39/popcorn-cinema-clapperboard-banner-sweet-and-delicious-popcorn.jpg"
                             class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <p class="card-text fw-bold"><span th:text="${movie.getName}"></span></p>
                        <p class="card-text"><span th:text="${movie.getType}"></span></p>
                        <p class="card-text"><span th:text="${movie.getLanguage}"></span>
                            <span class="bi-heart text-danger"></span><span th:text="${movie.getRating}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4">
        <h4>Popular Malayalam Movies</h4>
        <div class="row">
            <div class="col-3" th:each="movie : ${malayalamMovies}">
                <div class="card mt-4 shadow" style="width: 18rem;">
                    <img src="https://images.all-free-download.com/images/graphiclarge/creative_cinema_elements_backgrounds_vector_576617.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fw-bold"><span th:text="${movie.getName}"></span></p>
                        <p class="card-text"><span th:text="${movie.getType}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4">
        <h4>Popular Hindi Movies</h4>
        <div class="row">
            <div class="col-3" th:each="movie : ${hindiMovies}">
                <div class="card mt-4 shadow" style="width: 18rem;">
                    <img src="https://image.freepik.com/free-vector/cinema-popcorn-soda-drink-tickets-film-strip-movie-poster-with-fast-food-snack-cola-beverage-disposable-striped-package-abstract-blurred-background-realistic-3d-illustration_107791-3091.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fw-bold"><span th:text="${movie.getName}"></span></p>
                        <p class="card-text"><span th:text="${movie.getType}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4">
        <h4>Popular Tamil Movies</h4>
        <div class="row">
            <div class="col-3" th:each="movie : ${tamilMovies}">
                <div class="card mt-4 shadow" style="width: 18rem;">
                    <img src="https://previews.123rf.com/images/piko72/piko721409/piko72140900001/31396463-popcorn-box-disposable-cup-for-beverages-with-straw-film-strip-clapper-board-and-ticket-cinema-poste.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fw-bold"><span th:text="${movie.getName}"></span></p>
                        <p class="card-text"><span th:text="${movie.getType}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>